@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  overflow-x: hidden;
}

header {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1, h2 {
  margin-bottom: 20px;
}

.about-me {
  background-color: #f4f4f4;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.about-me p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #000000;
  max-width: 800px;
  margin: 0 auto;
}

.my-projects {
  position: relative;
  z-index: 1;
}

.my-projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(/assets/images/DALLE2_1.jpg);
  background-size: cover;
  background-position: center;

  filter: grayscale(60%);
  opacity: 0.8;

  z-index: -1;
}

section {
  padding: 40px 0;
}

h2 {
  font-size: 2em;
  color: #000000;
  background: #f0f0f0;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  background-color: #fff;
  /*margin: 2rem;*/
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 30vw;
  margin: 2rem auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.project-banner {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  margin-bottom: 1rem;
}

.project-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

ul li p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

footer {
  background-color: #000000;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p a {
  color: #00c3ff;
  font-weight: bold;
}

footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 849px) {
  ul {
    flex-direction: column;
    padding: 0;
  }

  ul li {
    margin: 2rem auto;
    max-width: 50%;
    width: 50%;
    padding: 1.5rem;
    transition: max-width 0.3s ease, margin 0.3s ease;
  }

  ul li img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  ul li {
    max-width: 80%;
    padding: 1rem;
  }
}